@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color:#aedbad;
    font-family: "Roboto", sans-serif;
    color: black;
}

header li, header a, header button {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10%;
    background-color: #264f5c;
    flex-wrap: wrap;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
}


.nav-links li::after {
    top: 65%;
    height: 2px;
    width: 90%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.5);
  }


.nav-links li {
    padding: 0px 15px;
    text-align: center;
}

/* .nav-links li a:hover {
    color: rgb(219, 32, 32);
    #6bafa9
} */

a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

button {
    padding: 9px 25px;
    background-color:#c5dde2;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(5, 145, 175);
}

.container {
    padding: 40px, 0px;
    text-align: center;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.wrap {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    padding: 1em;
    background-color: #c5dde2;

}

.container h1 {
    text-align: center;
    color: black;
}

.container p {
    padding: 10px;
    text-align: center;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact-text {
    height: 30px;
}

textarea {
    resize: none;
}

/* on own line */
.contact-text2 {
    grid-column: 1 / 3;
}

::placeholder {
    color: rgb(127, 166, 175);
    opacity: 1;
}

.contact-text:hover{
    box-shadow: 10px 10px 8px #a5a5a5;
}

.contact-form textarea:hover {
    box-shadow: 10px 10px 8px #a5a5a5;
}

.contact-form button {
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
    color: black;
    border-radius: 0%;
}

.contact-form button:hover {
    /* background: #9db1f1; */
    background: #264f5c;
    color: white;
    transition: background-color 1s ease;
    box-shadow: 10px 10px 8px #a5a5a5;
}

.contact-form input {
    font-family: Arial, Helvetica, sans-serif;
    
}

.contact-form textarea {
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgba(127, 128, 129, 0.7);
}

.wrap-2 {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    padding: 1em;
    background-color: #c5dde2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
}

.wrap-2 a{
    text-decoration: none;
    color: #448ac4;
}

/* Larger screen */
@media(min-width:900px){
    .wrap{
        display: grid;
        margin-left: 150px;
        margin-right: 150px;
    }

    .wrap-2 {
        display: grid;
        margin-left: 150px;
        margin-right: 150px;
    }
}

