body{
    background-color:#adebad;
    display: flex;
    flex-direction: column;
 
}


header li, a, button {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10%;
    background-color: seagreen;
    flex-wrap: wrap;
}
.logo {
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
}
.nav-links li {
    padding: 0px 15px;
    text-align: center;
}
.nav-links li a:hover {
    color: rgb(219, 32, 32);
}
button {
    padding: 9px 25px;
    background-color:rgb(16, 93, 151);
    border-radius: 15px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(5, 145, 175);
}





h1{
    display: block;
    align-content: center;
    text-align: center;
    color: red;
    padding: 0px;
    margin-top: 10px;
    font-size: 45px;
    text-shadow: 1px 2px 2px rgb(124, 10, 33);
    font-family: 'Train One', cursive;
}

.gallery:hover {
    border: solid 3px whitesmoke;
}

.img-desc {
    padding: 15px;
    text-align: center;
    font-size: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0%;
  } 

.container{
    display: flex;
    flex-direction: row; row-reverse; column; column-reverse;
}

.text{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texttwo{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.bottomnav {
        margin-top: 30px;
        background-color: rgb(114, 143, 114);
        bottom: 0;
        position: fixed;
        width: 100%;
        align-items: baseline;
        align-content: center;
        text-align: center;
        font-size: 20px;
        display: flex;
}